/* line 1, ../sass/header.scss */
.header {
  margin: 0 auto;
  padding: 12px;
}

/* line 6, ../sass/header.scss */
.headlist {
  margin: 139px 0 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

/* line 13, ../sass/header.scss */
.headlist li {
  display: inline-block;
  color: #000;
  font-size: 15px;
}
